.jumbotron {
  padding-top: 8rem;
  /* background-color: #afffaf; */
}

#about {
  background-color: #ebebeb;
  /* color: #000; */
}

#projects {
  background-color: #fff;
  /* background-color: #e2edff; */
}

#image {
  background-color: #ebebeb;
}

#contact {
  background-color: #fff;

  /* background-color: #e2edff; */
}

section {
  padding-top: 10rem;
}

.image-img {
  width: 100%;
}

#image .row > * {
  padding: 0;
}

#footer {
  background-color: #ebebeb;
  padding: 50px;
  text-align: center;
}

