.jumbotron {
  padding-top: 8rem;
  /* background-color: #afffaf; */
}

#about {
  background-color: #ebebeb;
  /* color: #000; */
}

#projects {
  background-color: #fff;
  /* background-color: #e2edff; */
}

#contact {
  background-color: #ebebeb;

  /* background-color: #e2edff; */
}

section {
  padding-top: 10rem;
}
